html {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #bedbc1;
    margin: 0;
}

header,
footer {
    background-color: #537846;
    padding: 48px;
    color: #ffffff;
}

main {
    flex-grow: 1;
}

.main-content {
    padding: 48px;
    width: 50%;
    background-color:#7dba9d;
    color: #ffffff;
}