html {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #D5FFD9;
    margin: 0;
}

header,
footer {
    background-color: #94AE89;
    padding: 48px;
    color: #ffffff;
}

main {
    flex-grow: 1;
}
