html {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #D5FFD9;
    margin: 0;
}

header,
footer {
    background-color: #2d755e;
    padding: 48px;
    color: #ffffff;
}

main {
    flex-grow: 1;
}

.main-content {
    padding: 48px;
    width: 50%;
    background-color:#479579;
    color: #ffffff;
}

.highlight {
    color: rgb(197, 226, 48);
    font-size: 2rem;
}